
/* REQUIRED */

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* 
*
*   CREATEB BY: Luso Design,
*   AUTHORS: Gijs Huitenga, Matthijs Berghuis,
*   DATE CREATED: 12-04-2021
*
*/

/* 1. Navbar styling */
.ld-transparent {
    background-color: transparent;
    transition: .25s ease-in;
}

.ld-white {
    background-color: white;
    transition: .25s ease-in;
}
