
/* REQUIRED */

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/*
*
*   CREATEB BY: Luso Design,
*   AUTHORS: Gijs Huitenga, Matthijs Berghuis,
*   DATE CREATED: 12-04-2021
*
*/

/* 1. Navbar styling */

/* 2. Carousel styling */
.flickity-button {
    background-color: hsla(330, 3%, 13%, .5) !important;
    color: white !important;
}

.flickity-prev-next-button {
    width: 75px !important;
    height: 75px !important;
}

.flickity-page-dots {
    display: none;
}

/* 3. Hamburger menu */

.ld-hamburger2 {
    height: 45px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

.ld-hamburger1 div {
    width: 40px;
    height: 5px;
    transition: all 0.2s ease-in-out;
}

#toggle1 {
    display: none;
}

#toggle1:checked + .ld-hamburger1 .ld-top {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin-top: 22.5px;
}

#toggle1:checked + .ld-hamburger1 .ld-meat {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-top: -5px;
}

#toggle1:checked + .ld-hamburger1 .ld-bottom {
    -webkit-transform: scale(0);
    transform: scale(0);
}

#toggle1:checked ~ .ld-menu1 {
    height: auto;
}

#toggle1:not(:checked) ~ .ld-menu1 {
    padding: 0 !important;
}

.ld-menu1 {
    list-style: none;
    clear: both;
    height: 0px;
    transition: height .4s ease;
    transition: all 0.3s ease;
}
