
/* REQUIRED */

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/*
*
*   CREATEB BY: Luso Design,
*   AUTHORS: Gijs Huitenga, Matthijs Berghuis,
*   DATE CREATED: 12-04-2021
*
*/

/* 1. Navbar styling */
.ld-transparent {
    background-color: transparent;
    transition: .25s ease-in;
}

.ld-white {
    background-color: white;
    transition: .25s ease-in;
}

/* 2. Carousel styling */
.flickity-button {
    background-color: hsla(330, 3%, 13%, .5) !important;
    color: white !important;
}

.flickity-prev-next-button {
    width: 75px !important;
    height: 75px !important;
}

.flickity-page-dots {
    display: none;
}

/* .gallery-cell {
    width: 25%;
    height: 400px;
    margin-right: 150px;
    background: #8C8;
    counter-increment: gallery-cell;
}
  
.gallery-cell:before {
    display: block;
    text-align: center;
    content: counter(gallery-cell);
    line-height: 400px;
    font-size: 80px;
    color: white;
} */
